body {
        text-align: center;
         font-family: "Happy Monkey", system-ui;
        font-weight: 400;
        font-style: normal;
         background: linear-gradient(#a2d2ff, aquamarine);
         color: green
}

h1 {
    
    -webkit-text-stroke: 0.01px black;
}

#FC {
    padding: 5px 10px;
    border-radius: 5px;
    background: #90EE90;
    margin-bottom: 10px;
    margin-top: 10px;
}

 #date{
    padding: 5px 10px;
    border-radius: 5px;
    background: #90EE90;
    margin: 0px
 }

h2, h3, h4, p {
    text-shadow: 0px 0px 1px black; 
}

#Mi-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #90EE90
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-image {
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift.jpg");
    background-size: cover;
    margin: 0px auto;
}
.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

#gift-image-happy:hover {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExc3IxNzNnM3d5NWx6Ynlub2x6Ymo0Ynlla2p6N3RmNncyNXp2ODdoeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MSvTng2tCzQ1o5vNsT/giphy.gif")
}

#gift-image-room:hover {
     background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2w2dHc1a2tzNXp5ejJ6cG1udHUzMHQ5NGZ1ODM1NWE5ejg2NTBybyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/coYIp34EqsPQEfMYGS/giphy.gif)
}
#gift-image-genius:hover {
     background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNm0zZ2F6amFxY2duZ2Y1bjd4YnA5N2gzdmppYnk1ZW96bHNheHNzZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LfT5GFFYXX7T2dCOVL/giphy.gif)
}
#gift-image-us:hover {
     background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExczQ2bHNlaTMxaGMzNTNsaXE4M2xjcDhzZ3lpbTd3Ymw0ZTRoeWRjOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xTcnTjYKRBUTqum0KI/giphy.gif)
}

#gift-image-cheers {
    height: 200px;
}
#gift-image-cheers:hover {
     background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWRidGtiYTVvaHdiOGh6eHl3MzBjNmFuZHdmbm40a2UxejV2aWV5NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/g9582DNuQppxC/giphy.gif)
}

#footer {
    font-style: italic
    width: 400px;
    margin: 40px auto 20px;
}

a {
   color: green; 
}